:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#fb5533;
    --facebook-color:#4267B2;
    --border-rad-pr:.5rem;
    --grid-value:5px;

    --header-height:120px;
    --navbar-height:34px;
    --search-bar-height:calc(var(--header-height) - var(--navbar-height));
    --header-shop-tablet-mb-height:46px;
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
/* ANIMATION */
@keyframes growth{
    from {
        transform:scale(var(--growth-from));
    }
    to {
        transform:scale(var(--growth-to));
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*  */
.text-color-pr{
    color: var(--primary-color) !important;
}
.text-color-nd{
    color: rgba(0, 0,0, 0.7) !important;
}
.font-size-l{
    font-size: 2rem;
    line-height: 1.6rem;
}
.font-size-m{
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.clear::after{
    content:"";
    display: block;
    clear: both;
}
/* GRID */
/*  */
.paddinglr--10px{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.mr-4{
    margin-right: 4px !important;
}
.ml-4{
    margin-left: 4px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.remove-txt-decor{
    text-decoration: none !important;
}
.hide-display{
    display: none !important;
}
.border-r{
    border-right:#ccc solid 1px ;
}
.border-top{
    border-top:rgba(0, 0,0, 0.05) solid 1px ;
}
/* MODAL LAYOUT CSS */
.modal{
    position: fixed;
    background-color: rgba(0, 0,0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn 0.2s linear;
}
.modal__body{
    --growth-from:0.6;
    --growth-to:1;
    margin: auto;
    border-radius: var(--border-rad-pr);
    width: 500px;
    overflow: hidden;
    animation: growth 0.2s linear;
}
.modal{
    position: fixed;
    background-color: rgba(0, 0,0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
.modal__body{
    background-color: var(--white-color);
    margin: auto;
    border-radius: var(--border-rad-pr);
    width: 500px;
    overflow: hidden;
}
.modal__inner{
    padding: 0 30px;
}

/* BUTTON */
.btn{
    border: none;
    font-size: 1.4rem;
    background-color: #ffff;
    padding: 10px;
    border-radius: var(--border-rad-pr);
    cursor: pointer;
    min-width: 142px;
    color: var(--text-color);
    line-height: 1.6rem;
    text-decoration: none;
}
.btn:hover{
    background-color: #dbdbdb;
}
.btn.btn--primary{
    background-color: var(--primary-color) !important;
    color: var(--white-color);
}
.btn.btn--primary:hover{
    opacity: .92;
}
.btn.btn--facebook{
    background-color: var(--facebook-color) !important;
    color: var(--white-color);
    line-height: 1.6rem !important;
}
.btn.btn--default{
    background-color: #fff !important;
}
.btn.btn--transparent{
    background-color: transparent;
}
.btn.btn--size-s{
    min-width: 60px;
    padding: 0 15px;
    line-height: 3.4rem;
}
.btn.btn--size-m{
    padding: 10px;
    min-width: 120px;
}
.btn.btn--size-ss{
    min-width: 36px !important;
    height: 34px;
    padding: 1px 6px;
}
.btn--focus:focus{
    background-color: var(--primary-color) !important;
    color: var(--white-color);
}
.btn--disable{
    opacity: 0.6;
    cursor: default;
    background-color: var(--white-color) !important;
}
/* PAGINATION */
.pagination{
    display: flex;
    justify-content: center;
}
.pagination-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.pagination-list__item a{
    color: #939393;
    font-size: 2rem;
    font-weight: 200;
}
.home-product__pag.pagination{
    margin: 46px 0 32px 0;
    width: 100%;
}
.pagination-list__item-btn i{
    font-size: 1.6rem;
}
.pagination-list__item + .pagination-list__item{
    margin-left: 6px;
}
.pagination-list__item-btn{
    --height:30px;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    padding: 0;
    display: block;
    text-align: center;
}

